.overview h2 {
  color: #676b77;
}

.overview__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.overview__container__son {
  width: 240px;
  padding: 15px;
  background: #f0f3fa;
  margin: 0 15px 15px 0;
  border-radius: 5px;
}
.overview__container__son .overview__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.overview__container__son .overview__top p {
  color: #676b77;
  font-weight: bold;
}
.overview__container__son .overview__down {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.overview__container__son .overview__down p {
  font-weight: bold;
  font-size: 40px;
  margin: 0;
}
.overview__container__son .overview__down--right {
  display: flex;
  align-items: center;
}
.overview__container__son .overview__down .verde p {
  color: #1db489;
  font-size: 14px;
  font-weight: normal;
}
.overview__container__son .overview__down .rojo p {
  color: #dc414c;
  font-size: 14px;
  font-weight: normal;
}
.overview__container__son:nth-child(4) {
  margin-right: 0;
}
.overview__container__son:nth-child(8) {
  margin-right: 0;
}