$fuente: 'Inter', sans-serif;

body{
    margin: 0;
    font-family: $fuente;
}

.wrapper{
    margin: 0 110px;
    position: relative;
    top: -110px;
    left: 0;
    right: 0;
}

@import "querys.scss";

@import "header.scss";

@import "box-top.scss";

@import "box-down.scss";


.dark__fond {
    background: #1d2029;
    
    &__header{
        background: #20222f;
        h2{
            color: white;
        }
        p{
            color: white !important;
        }
    }

    &__box{
        background: #252b43;

        .overview__down{
            p{
                color: white;
            }
        }
        }

    h2{
        color: white;
    }


}

