.header__titulo {
  background: red;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.social {
  display: flex;
  justify-content: center;
}
.social__boxes {
  width: 250px;
  text-align: center;
  background: #f0f3fa;
  margin-right: 15px;
}
.social__boxes .fb--class {
  border-top: 5px solid red;
}