$fuente: 'Inter', sans-serif;


.header__titulo{
    background: red;
}

body{
    margin: 0;
    font-family: $fuente;
}

h2 {

}

.social {
    display: flex;
    justify-content: center;
    &__boxes{
        width: 250px;
        text-align: center;
        background: #f0f3fa;
        margin-right:15px;
        .fb--class{
            border-top: 5px solid red;
        }
    }
}