mixin box(imagen, user, number, imagen2, colore) 
    div(class= "social__boxes"+ colore)
        div.social__red
            img(src="../images/"+imagen, alt="")
            p= user
        .social__followers
            h2= number
            p followers
        .social__date
            img(src="../images/"+imagen2, alt="")
            p 12 Today
